.about-me {
  color: white;
}

.about-me h2 {
  color: white;
  font-size: 50px;
  margin-left: 250px;
  margin-bottom: 10px; /* Optional: Add margin below the heading */
}

.description {
  text-indent: 30px;
  color: white;
  font-size: 30px;
  margin-left: 275px;
  margin-right: 275px;
}

.description2 {
  text-indent: 30px;
  color: white;
  font-size: 30px;
  margin-left: 275px;
  margin-right: 275px;
}
