/* Slider container */
.slider-container {
    width: 75%;
    margin: auto;
}

/* Individual slide */
.slide {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

/* Slide content */
.slide-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; 
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    color: black;
}

/* Slide image container */
.slide-image-container {
    width: 33%;
    margin-bottom: 1rem;
}

/* Slide image */
.slide-image {
    width: 100%; 
    border-radius: 10px;
}

/* Slide info container */
.slide-info-container {
    width: 66%;
}

/* Slide name */
.slide-name {
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 0rem; 
    
}

/* Increase size of slick slider buttons */
.slick-prev,
.slick-next {
    width: 100px; /* Adjust width as needed */
    height: 100px;
    margin-top: 60px;
    margin-left: -75px;
    margin-right: -75px;
    border-radius: 50%; /* Make buttons round */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover effect for the buttons only when active */
.slick-prev:active,
.slick-next:active {
    background-color: rgba(255, 255, 255, 0.8); /* Example hover background color */
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Example hover background color */
}

.slick-dots {
    bottom: -5px; /* Adjust position as needed */
}

.slick-dots li button {
    font-size: 20px; /* Adjust font size as needed */
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    border-radius: 50%; /* Make dots round */
    background-color: #ffffff; /* Set dot color to white */
}

.slick-dots li.slick-active button {
    background-color: #ffffff; /* Set active dot color to white */
}


