/* Existing styles */

.white {
  color: white;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.grid-row .text-col {
  grid-column: span 8;
}

.grid-row figure {
  grid-column: span 4;
}

.about-container {
  padding: 20px;
}

.about-section {
  padding: 20px;
  border-radius: 10px;
}

.flex-row {
  margin-bottom: 20px;
}

.section-title {
  color: white;
  font-size: 100px;
}

.item {
  display: flex;
  border: 2px solid #fff; 
  border-radius: 10px; 
  padding: 20px; 
}

.image {
  margin-right: 20px;
  border-radius: 5px; 
  width: auto;
  height: 500px;
}

.text-wrap {
  flex-grow: 1;
}

.about-text {
  color: white;
  font-size: 64px;
}

/* New styles for smaller screens */
@media (max-width: 1080px) {
  .grid-row {
    grid-template-columns: 1fr; /* Change to a single column layout */
  }
  
  .grid-row .text-col,
  .grid-row figure {
    grid-column: span 1; /* Each item spans the full width */
  }
  
  .item {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center align items */
  }
  
  .image {
    margin-right: 0; /* Remove margin */
    margin-bottom: 20px; /* Add space below image */
    max-width: 100%; /* Ensure image does not exceed container width */
    height: auto; /* Allow image to adjust height based on content */
  }
}
