/* Existing styles */
.white {
  color: white;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.grid-row .text-col {
  grid-column: span 8;
}

.grid-row figure {
  grid-column: span 4;
}

.about-container {
  padding: 20px;
}

.about-section {
  padding: 20px;
  border-radius: 10px;
}

.flex-row {
  margin-bottom: 20px;
}

.section-title {
  color: white;
  font-size: 64px;
}

.item {
  display: flex;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  align-items: center; /* Added this to vertically center */
  min-height: 100%; /* Ensures full height */
}

.image {
  margin-right: 20px;
  border-radius: 5px;
  width: auto;
  height: 400px;
  object-fit: cover; /* Ensures image maintains aspect ratio */
}

.text-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Added this to vertically center text */
}

.about-text {
  color: white;
  font-size: 32px;
}

/* New styles for smaller screens */
@media (max-width: 1080px) {
  .grid-row {
    grid-template-columns: 1fr;
  }
  
  .grid-row .text-col,
  .grid-row figure {
    grid-column: span 1;
  }
  
  .item {
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }
  
  .section-title {
    font-size: 42px;
  }
  
  .about-text {
    font-size: 24px;
  }
}